.register__content {
    background-image: url('https://img.freepik.com/free-vector/isometric-notary-services-horizontal-composition-flowchart-with-images-human-hands-stamps-envelopes-text-captions_1284-32166.jpg?w=996&t=st=1669975998~exp=1669976598~hmac=a4f41be8bef8b8fb9be69ae324aeeeb18f77723692dbd9f684efa57066655c3a');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: fixed;
}

.register__content .content__form {
    padding: 15px 0;
    border-radius: 25px;
    background: rgba(0, 0, 0, 0.7);
    position: relative;
    overflow: hidden;
}

.register__content .content__form .my__form {
    height: 600px;
    overflow-y: scroll;
}

.register__content .ant-form-item-label>label,
.register__content .ant-form-item-extra {
    font-weight: bold;
    color: white;
}

.register__content .ant-row {
    align-content: center;
}

.register__content .ant-input {
    border-radius: 5px;
}

.register__content .site-tag-plus {
    cursor: pointer;
    padding: 8px 15px;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    transition: all .5s;
}

.register__content .site-tag-plus:hover {
    filter: brightness(85%);
}

.register__content .skill-tag {
    background: #00698c;
}

.register__content .cert-tag {
    background: #0e1d32;
    color: white;
}

/* RESPONSIVE */

@media screen and (max-width: 1194px) {
    .pass__field {
        justify-content: space-between;
    }
}

@media screen and (max-width: 736px) {
    .my__form {
        padding: 30px;
    }
}

/* END RESPONSIVE */